body{
  background-color: #22272E;
}

.navbar{
  font-family: 'Roboto', sans-serif;
  /* background-color: #1C2128; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin-left: auto;
}

.navbar-brand{
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
  
.navbar-nav {
  display: flex;
}
  
.navbar-nav li {
  list-style: none;
}

.navbar-nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
  
.navbar-nav li a:hover {
  background-color: #3D414B;
}
  
.circle-img {
  border-radius: 50%;
  margin: 60px auto;
  text-align: left;
  width:40%;
  height: 50%;
  display: block;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.profile p {
  font-size: 1.2em;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-top: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container2 {
  display: flex;
  text-align: center;
  margin: 20px;
  flex-wrap: wrap;
}

.card img {
  width: 100%;
  height: 50%;
  border-radius: 10%;
  display: block;
}

.card {
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  margin-bottom: 20px;
  border-radius: 20px;
    /* overflow: hidden; */
  position: relative;
  display: inline-block;
  border: 0px solid #ccc;
  padding: 6px;
  background-color: #1C2128;
}
  
.card:hover {
    /* border: none; */
  box-shadow: 0px 4px 8px #fff;
}

.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #fefedf 0%, #c493ff 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        
.card-skill {
  width: 30%;
  margin-bottom: 20px;
/* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
/* border-radius: 5px; */
/* overflow: hidden; */
}

.card-skill img {
  width: 30%;
  height: auto;
/* display: block; */
}



.card h2 {
margin: 10px;
font-size: 1.5em;
font-weight: bold;
text-align: center;
color: #ffff;
}

.card h3 {
  margin: 10px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

button{
  margin: 10px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}

#softskill{
    text-align: center;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px #ccc;
}

.card-list li:hover {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

h1,h2, h3, h4, h5,p { color: #fff;  font-family: 'Roboto', sans-serif;}

.column-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  text-align: center;
  margin: 1%;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.container {
  padding: 10px;
  margin: 1px;
}
